In [3]:
for num in range(0,20):
    print(num)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [5]:
for num in range(0,20):
    print(num, end=' ')

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19

In [7]:
for int in range(11,40):
    print(int)

11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39

In [11]:
for int in range(11,40):
    print(int,end=' ')

11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39

In [1]:
List2=[10,20,14,55,43,87,76]
print(List2)
print("Number of items in List2:",len(List2))

[10, 20, 14, 55, 43, 87, 76]
Number of items in List2: 7

In [15]:
str='Artificial Intelligence'
print(str)
for name in str:
    print(name)

Artificial Intelligence
A
r
t
i
f
i
c
i
a
l

I
n
t
e
l
l
i
g
e
n
c
e

In [17]:
name='Artificial Intelligence'
print(name)
for alpha in name:
    print(alpha)

Artificial Intelligence
A
r
t
i
f
i
c
i
a
l

I
n
t
e
l
l
i
g
e
n
c
e

In [25]:
mytuble=[1,'Welcome',2,'Hope']
print(mytuble)

[1, 'Welcome', 2, 'Hope']

In [27]:
mytuble=[1,'Welcome',2,'Hope']
print(mytuble)
for temp in mytuble:
    print(temp)

[1, 'Welcome', 2, 'Hope']
1
Welcome
2
Hope

In [7]:
List=['-Your Name-','-Your Age-','-Your Profession-']
for temp in List:
    print(temp)

-Your Name-
-Your Age-
-Your Profession-

In [7]:
mytuble1=[0,1,2,3]
mytuble2=['python','HOPE']
print(mytuble1,mytuble2)

[0, 1, 2, 3] ['python', 'HOPE']

In [53]:
List=(20,10,16,19,25,1,276,188)
print(List)
for num in List:
    if((num%2)==1):
        print(num,"is odd number")

(20, 10, 16, 19, 25, 1, 276, 188)
19 is odd number
25 is odd number
1 is odd number

In [51]:
List=(20,10,16,19,25,1,276,188)
print(List)
for num in List:
    if((num%2)==0):
        print(num," is Even number")

(20, 10, 16, 19, 25, 1, 276, 188)
20  is Even number
10  is Even number
16  is Even number
276  is Even number
188  is Even number